@import url("https://fonts.googleapis.com/css?family=Roboto+Mono");
@font-face {
  font-family: 'GT America';
  src: url("assets/fonts/myfont.woff2") format("woff2"), url("assets/fonts/.woff") format("woff"); }

@font-face {
  font-family: 'GT America';
  src: local("GT-America-Standard-Bold"), url("../assets/fonts/GT-America-Standard-Bold.woff") format("woff");
  font-weight: bold; }

@font-face {
  font-family: 'GT America';
  src: local("GT-America-Standard-Regular"), url("../assets/fonts/GT-America-Standard-Regular.woff") format("woff");
  font-weight: normal; }

* {
  box-sizing: border-box; }

::-moz-selection {
  background: #2C4263;
  color: #fff; }

::selection {
  background: #2C4263;
  color: #fff; }

html,
body {
  height: auto;
  width: 100%;
  margin: 0;
  overflow-x: hidden; }

body {
  font-family: "GT America", sans-serif;
  font-size: 20px;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased; }
  body.home-colors {
    color: #2C4263;
    background: #FBCFA9; }
    body.home-colors .neat-thing span {
      -webkit-text-fill-color: #fff;
      text-fill-color: #fff;
      -webkit-text-stroke-color: #fff;
      text-stroke-color: #fff;
      -webkit-text-stroke-width: 2px;
      text-stroke-width: 2px; }
    body.home-colors .faux-link {
      color: inherit;
      text-decoration: none;
      background-repeat: no-repeat;
      background-image: linear-gradient(180deg, transparent 65%, #fff 0);
      transition: background-size .25s ease;
      background-size: 0% 100%;
      border-bottom: 1px solid #fff; }
      body.home-colors .faux-link:hover {
        cursor: pointer;
        background-size: 100% 100%;
        background-image: linear-gradient(180deg, transparent 65%, #fff 0); }
  body.khroma-colors {
    color: #F7F6F5;
    background: #02142B; }
    body.khroma-colors .neat-thing span {
      -webkit-text-fill-color: transparent;
      text-fill-color: transparent;
      -webkit-text-stroke-color: #7130db;
      text-stroke-color: #7130db;
      -webkit-text-stroke-width: 2px;
      text-stroke-width: 2px; }
    body.khroma-colors .faux-link {
      color: inherit;
      text-decoration: none;
      background-repeat: no-repeat;
      background-image: linear-gradient(180deg, transparent 65%, #7130db 0);
      transition: background-size .25s ease;
      background-size: 0% 100%;
      border-bottom: 1px solid #7130db; }
      body.khroma-colors .faux-link:hover {
        cursor: pointer;
        background-size: 100% 100%;
        background-image: linear-gradient(180deg, transparent 65%, #7130db 0); }
    body.khroma-colors .code {
      background-color: #7130db; }
    body.khroma-colors pre {
      border: 1px solid #7130db; }
      body.khroma-colors pre:before {
        position: absolute;
        content: attr(data-buzzword);
        transform: rotateZ(-45deg) translate3d(-20px, -45px, 0);
        font-family: "GT America", serif;
        font-weight: 600;
        font-size: 1em;
        color: #FF356A;
        text-align: center;
        animation: blink 0.1s steps(1) infinite alternate; }

@keyframes blink {
  0% {
    opacity: 0.5; }
  50% {
    opacity: 1; }
  100% {
    opacity: 1; } }
    body.khroma-colors pre .comment {
      color: #6782b2;
      white-space: pre-wrap; }
  body.rome-colors {
    color: #2F3351;
    background: #A5E3E2; }
    body.rome-colors .neat-thing span {
      -webkit-text-fill-color: transparent;
      text-fill-color: transparent;
      -webkit-text-stroke-color: #0A3FDD;
      text-stroke-color: #0A3FDD;
      -webkit-text-stroke-width: 2px;
      text-stroke-width: 2px; }
    body.rome-colors .faux-link {
      color: inherit;
      text-decoration: none;
      background-repeat: no-repeat;
      background-image: linear-gradient(180deg, transparent 65%, #FBCFA9 0);
      transition: background-size .25s ease;
      background-size: 0% 100%;
      border-bottom: 1px solid #FBCFA9; }
      body.rome-colors .faux-link:hover {
        cursor: pointer;
        background-size: 100% 100%;
        background-image: linear-gradient(180deg, transparent 65%, #FBCFA9 0); }
    body.rome-colors .code {
      color: #2C4263;
      background-color: #FBCFA9; }
    body.rome-colors .buzzword:before {
      color: #0A3FDD; }
  @media screen and (min-width: 1680px) {
    body {
      font-size: 24px; } }

h1 {
  margin-top: 0;
  font-size: 4.24em;
  font-weight: normal; }

h2 {
  margin-top: 0;
  font-size: 2.828em;
  font-weight: normal; }
  h2 span {
    font-family: "Roboto Mono", sans-serif;
    background-color: #fff; }

h3 {
  margin-top: 0;
  font-size: 2em;
  font-weight: normal; }
  h3.block-quote {
    position: relative;
    font-family: "Roboto Mono", sans-serif;
    margin: 2em 0 2em 1em; }
    h3.block-quote:before {
      position: absolute;
      content: "";
      left: -1em;
      width: 2px;
      height: 100%;
      background-color: #7130db; }
  @media screen and (min-width: 400px) {
    h3 {
      width: 60%; } }

.subline {
  font-size: 1.414em; }

a {
  color: inherit;
  text-decoration: none;
  line-height: 1.55em; }

p {
  line-height: 1.55em; }
  @media screen and (max-width: 768px) {
    p {
      width: 100%; } }
  @media screen and (min-width: 768px) {
    p {
      width: 50%; } }

span.code {
  font-family: "Roboto Mono", sans-serif;
  font-size: 0.85em;
  background-color: #fff;
  color: #FBCFA9; }

.wrapper {
  overflow-x: hidden; }
  @media screen and (max-width: 400px) {
    .wrapper {
      padding: 0 1em;
      font-size: 0.8em; } }

section,
header,
footer {
  padding: 3em 5em; }

section.content .media {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  margin: 3em 0; }
  section.content .media img,
  section.content .media video {
    width: 70%; }
  section.content .media .media-caption {
    min-width: 300px;
    max-width: 300px;
    margin-left: 2em;
    line-height: 1.5em;
    font-size: 0.7em;
    color: #6782b2; }
    @media screen and (max-width: 768px) {
      section.content .media .media-caption {
        margin-left: 0;
        margin-top: 2em;
        max-width: none; } }
  @media screen and (max-width: 768px) {
    section.content .media {
      flex-direction: column; } }

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between; }

pre {
  position: relative;
  display: inline-block;
  overflow: hidden;
  margin: 1em 0;
  padding: 1em 1em 1em 3em;
  font-size: 0.7em;
  font-family: "Roboto Mono", sans-serif; }
  pre:after {
    position: absolute;
    display: inline-block;
    top: 1em;
    left: 20px;
    content: "123456789.....";
    width: 1em !important;
    word-break: break-all;
    white-space: pre-line;
    color: #7130db; }

.intro {
  padding-top: 55vh; }

.neat-thing {
  position: absolute;
  left: 0;
  right: 0;
  z-index: -1;
  top: 50%;
  margin: 0 auto;
  text-align: center;
  font-weight: 800;
  font-size: 12em;
  transform: translate3d(0, -50%, 0); }
  .neat-thing .nt-inner {
    transform: rotateX(55deg) rotateZ(-315deg) translate3d(0, 0, 0em); }

@keyframes spin {
  from {
    transform: rotateZ(0deg); }
  to {
    transform: rotateZ(360deg); } }
  .neat-thing span {
    display: inline-block;
    transform-origin: 50% 50%;
    transition: all 2s cubic-bezier(0, 1, 0, 1); }

footer,
.courtesy {
  display: flex;
  flex-direction: row;
  justify-content: space-between; }

.courtesy > * {
  margin-left: 1em;
  line-height: 1.55em; }

.grid-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap; }
  @media screen and (max-width: 400px) {
    .grid-list {
      flex-direction: column; } }
  .grid-list ul {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 50%; }
  .grid-list ul li {
    line-height: 1.5em; }
  .grid-list ul li.list-header {
    margin-bottom: 1em; }

.redacted:after {
  content: attr(data-char-count);
  color: #FBCFA9;
  background-color: #FBCFA9; }

.buzzword:before {
  position: absolute;
  content: attr(data-buzzword);
  transform: rotateZ(-45deg) translate3d(-20px, -45px, 0);
  font-family: "GT America", serif;
  font-weight: 600;
  font-size: 1em;
  color: #FF356A;
  text-align: center;
  animation: blink 0.1s steps(1) infinite alternate; }

@keyframes blink {
  0% {
    opacity: 0.5; }
  50% {
    opacity: 1; }
  100% {
    opacity: 1; } }

.project {
  position: relative;
  width: 50%;
  margin-bottom: 2em;
  border-radius: 2px; }
  .project .code {
    background-color: transparent;
    font-size: 0.7em;
    color: #fff; }
  .project a {
    font-size: 2em; }
    .project a:hover + .bg-fill {
      opacity: 1;
      transform: translate3d(75%, 0%, 0) rotateZ(15deg) scale(1); }
  .project .bg-fill {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 50%;
    z-index: 1;
    opacity: 0;
    transition: all 0.5s cubic-bezier(0, 0.99, 0, 0.99);
    transform: translate3d(100%, 0%, 0) rotateZ(25deg) scale(0.5);
    pointer-events: none; }
  @media screen and (max-width: 400px) {
    .project {
      width: 100%;
      padding: 1em;
      margin-left: 0; } }

footer {
  padding: 2em 5em;
  font-size: 0.85em; }

.project-hero {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  width: 40%;
  margin: 0 auto;
  transform: translate3d(50%, -50%, 0);
  z-index: -2; }

.project-link {
  display: inline-block;
  margin-top: 3em; }

.toaster {
  display: inline-table;
  position: fixed;
  right: 30px;
  top: 0;
  height: 50px;
  padding: 0 25px;
  color: white;
  line-height: 50px;
  z-index: 999;
  background-color: #2C4263;
  opacity: 0;
  font-size: 0.71em;
  border-radius: 2px;
  transition: all 0.25s cubic-bezier(0, 0, 0, 1); }
  .toaster.show {
    transform: translate3d(0, 30px, 0);
    opacity: 1; }

.modal {
  position: fixed;
  top: 0;
  right: 0;
  width: 50%;
  height: 100%;
  padding: 3em;
  visibility: hidden;
  opacity: 0;
  overflow-y: scroll;
  background-color: #fff;
  color: #2C4263;
  transform: translate3d(50%, 0, 0);
  transition: all 1s cubic-bezier(0, 0.99, 0, 0.99); }
  .modal:target {
    visibility: visible;
    transform: translate3d(0, 0, 0);
    opacity: 1; }
    .modal:target + .outside-click-cancel {
      display: block; }
  .modal section {
    padding-top: 1em; }
  .modal p {
    width: 100%;
    margin-bottom: 2em; }

.outside-click-cancel {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%; }
