$desertstorm: #F7F6F5;
$rhino: #2C3255;
$darkk: #16171e;
$comet: #525568;
$charade: #20212B;
$froly: #F87380;
$brighttourquoise: #0fffc1;
$rockblue: #9DBFD0;
$submarine: #A9B4BA;
$burple: #692DF5;
$forest: #319782;
$gold: #F8D451;
$khromaPink: #FF356A;
$khromaPurple: #7130db;
$khromaGray: #6782b2;

$serif: 'GT America', serif;
$sans-serif: 'GT America', sans-serif;
$monospace: 'Roboto Mono', monospace;

$font-size-smaller: 0.7em;
$font-small: 0.85em;

$backgroundA: #FBCFA9;
$fillA: #2F3351;
$accentA: #E7E6D1;
$backgroundB: #0C3072;
$fillB: #F4A7A3;
$accentB: #264594;

$warn: $froly;
$succ: $brighttourquoise;
$lightneutral: $desertstorm;
$black: $charade;
$gray: $submarine;

$background: $black;
$fill: $lightneutral;
$accent: $comet;

$mobile-portrait: 400px;
$tablet-landscape: 768px;
$laptop: 1440px;
$large-desktop: 1680px;
