@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');

@font-face {
  font-family: 'GT America';
  src:  url('assets/fonts/myfont.woff2') format('woff2'),
        url('assets/fonts/.woff') format('woff');
}

@font-face {
  font-family: 'GT America';
  src: local("GT-America-Standard-Bold"),
       url('../assets/fonts/GT-America-Standard-Bold.woff') format('woff');
  font-weight: bold;
}

@font-face {
  font-family: 'GT America';
  src: local("GT-America-Standard-Regular"),
       url('../assets/fonts/GT-America-Standard-Regular.woff') format('woff');
  font-weight: normal;
}


@import "_variables";
@import "_mixins";


* {
  box-sizing: border-box;
}

::-moz-selection {
  background: $fill;
  color: $accent;
}
::selection {
  background: $fill;
  color: $accent;
}

html,
body {
	height: auto;
	width: 100%;
  margin: 0;
  overflow-x: hidden;
}

body {
  display: flex;
  height: 100vh;
  align-items: flex-start;
  justify-content: flex-start;
  text-align: left;
	font-family: $monospace;
	font-size: 20px;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  transition: all 0.5s ease;

  &.offline {
    color: white;
    background-color: $black;
  }

  &.online {
    color: $black;
    background-color: white;
  }
}

a {
  color: inherit;
  text-decoration: none;
  line-height: 1.55em;
}

.wrapper {
  max-width: 500px;
  padding: 2em;
}

.connection {
  font-size: 0.6em;
  text-transform: uppercase;

  &.on {
    @include buzzword($brighttourquoise);
  }
  &.off {
    @include buzzword($khromaPink);
  }
}

.timer {
  font-family: $monospace;
  font-size: 2em;
  // color: white;
}

.graph-container {
  width: 300px;
  position: relative;
  margin-top: 2em;

  .indicator {
    position: absolute;
    height: 4px;
    width: 4px;
    margin-top: -4px;
    border-radius: 50%;
    background-color: currentColor;
    font-size: 0.5em;
    // color: white;

    &:after {
      content: attr(data-time);
      position: absolute;
      margin-left: 10px;
      margin-top: -4px;
    }
  }
}

.info {
  margin-top: 1em;
  text-align: left;
}

.item {
  // color: white;
  font-size: 0.7em;
  line-height: 2;
  border-bottom: 1px solid $comet;

  &:first-child {
    border-top: 1px solid $comet;
  }
}

.toaster {
  display: inline-table;
  position: fixed;
  right: 30px;
  top: 0;
  height: 50px;
  padding: 0 25px;
  color: $black;
  line-height: 50px;
  z-index: 999;
  background-color: $black;
  opacity: 0;
  font-size: 0.71em;
  border-radius: 2px;
  transition: all 0.25s cubic-bezier(0,0,0,1);
  transform: translate3d(0,0px,0);

  &.bad {
    background-color: $froly;
    color: white;
  }

  &.good {
    background-color: $brighttourquoise;
    color: $black;
  }

  &.off {
    background-color: $comet;
    color: white;
  }

  &.show {
    transform: translate3d(0,30px,0);
    opacity: 1;
  }
}
